body {
    background-image: url("daisy.jpg");
    height: 50%;
    position: relative;
}

.page-elements { 
    /* position: absolute; */
    height: 5em; 
    margin-top: 5em;
    margin-left: 5em;
    top: 50%;
    color: white;  
}

#search-button {
    font-size: 26px;
}

