body {
    background-image: url("daisy.jpg");
    height: 50%;
    position: relative;
}

.page-elements { 
    position: absolute;
    height: 5em; 
    margin-top: 25em;
    margin-left: 25em;
    top: 50%;  
}



