body {
    background-image: url("daisy.jpg");
    height: 50%;
    position: relative;
}

.page-elements { 
    position: absolute;
    height: 10em; 
    margin-top: 10em;
    margin-left: 10em;
    top: 50%;  
}



